<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="text-center">
            <div class="row about-text">
                <h2 class="section-heading">About AGA</h2>
                <p>
                    <strong>Games Australia (AGA)</strong> is an annual sporting festival that aims to gather all lovers
                    of
                    sport. Through AGA, we hope to create new friendships and promote camaraderie between individuals
                    from
                    different cultural backgrounds, thereby creating greater cultural understanding between the ASEAN
                    communities. Individuals of different athletic skill with the same passion and interest in sports
                    can
                    gather together to have fun and enjoy a friendly game or two. AGA is a perfect way to showcase your
                    sportsmanship and teamwork alongside your ASEAN family, a home away from home. AGA also aims to
                    nurture
                    future leaders of ASEAN, one who strives for holistic achievement and is able to develop
                    interpersonal
                    skills and teamwork. With our extensive sponsors and partners, attractive prizes can be won too!
                </p>
            </div>
            <div class="row merchandise-text">
                <h3><a href="https://docs.google.com/forms/d/1U20uW9TFdj6fDzLD_7aSA1EKzu4KxcSRnvJbi-fLC60/viewform?fbclid=IwAR2N0jJ7x5finZxxS1xMuh20t1LVSuHHEMB97_xWGx8zWuR5358ZFghV0n0&edit_requested=true"
                        target="_blank">COP OUR MERCHANDISE!</a></h3>
            </div>
        </div>
    </div>
</section>