/* +++++++++++ BODY ++++++++++++++++ */

body {
  margin: 0 auto;
  background-attachment: fixed;
}

.content {
  text-align: center;
}

.what {
  margin-top: 30px;
}

h5 {
  font-style: italic;
  color: rgb(99, 99, 99);
}

li {
  list-style: none;
}
